.card-bottom-margin {
    margin-bottom: 20px;
}

.no-padding {
    padding: 0 !important;
}

.fixed-height {
    height: 500px;
}

.item-name {
    font-family: 'Lato';
}

.item-description {
    font-family: 'Lato';
}

.item-url {
    font-family: 'Lato';
}