.education-card {
    margin: 10px;
    height: 95%;
}

.education-card-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: auto;
    margin-top: 10px;
}

.education-card-title, .education-card-location, .education-card-year, .education-card-subject-title, .education-card-subject, .education-card-result-title, .education-card-result {
    font-family: 'Lato';
}

.line-breaker {
    display: block;
}

.maximize-width {
    width: 100%;
}