.education-card {
    margin-bottom: 10px;
    height: 90%;
}

.education-card-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: auto;
    margin-top: 10px;
}

.line-breaker {
    display: block;
}