#img-profile-picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0;
    left: 50%;
    margin-bottom: 20px;
}

#header-name {
    font-family: 'Nunito';
}

#header-title {
    font-family: 'Lato';
}