.section-top-padding {
    padding-top: 15px;
}

.section-title {
    margin-left: 5px;
    font-family: 'NTR';
}

.content-box-header {
    font-family: 'Montserrat', sans-serif;
}

.content-box-container-width, .icon-container {
    width: 90%;
}

.icon-container {
    margin-bottom: 5px;
}