#divArrowGoToTop {
    display: none;
    position: fixed;
    right: 10px;
    bottom: 10px;
    font-family: 'Lato';
}

#divArrowGoToTop i:hover, #divArrowGoToTop label:hover {
    cursor: pointer;
}

i {
    padding-right: 5px;
}