#brand {
    font-family: 'Montserrat', sans-serif;
}

#nav-items {
    font-family: 'Lato';
}

nav div ul li a i {
    padding-right: 5px;
}

.nav-bar-dark-bg {
    background-color: rgba(0, 0, 0);
    transition: 0.3s;
}

.nav-bar-light-bg {
    background-color: rgba(0, 0, 0, 0);
    transition: 0.3s;
}

.nav-item-hover-background-change-light:hover {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: .1875rem;
    transition: 0.3s;
}

.nav-item-hover-background-change-dark:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: .1875rem;
    transition: 0.3s;
}

.nav-item-hover-background-change-light:not(:hover), .nav-item-hover-background-change-dark:not(:hover) {
    transition: 0.3s;
}